* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
}


/* **********************************************************
global css start
*/

.header {
    width: 100%;
    padding: 10px 0px;
}

.header .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #28377e;
}

.header .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #28377e;
    margin: 0px 0px 0px 15px;
    text-transform: uppercase;
    transition: 0.6s;
}

.header .navbar-light .navbar-nav .nav-link:hover,
.header .navbar-light .navbar-nav .nav-link:focus {
    color: #f2622c;
}

.slider {
    width: 100%;
    padding: 100px 0px;
    background-image: url(../images/slider.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.slider h2 {
    padding: 150px 0px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0px 0px 0px 15px;
    text-align: center;
}

.arrow {
    width: 100%;
    padding: 50px 0px;
}

.what-we-are {
    width: 100%;
    padding: 80px 0px;
}

.what-we-are .line {
    margin: 50px 0px 0px;
}

.what-we-are h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    color: #28377e;
    margin: 10px 0px 20px;
}

.what-we-are p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #bab9ba;
}

.what-we-are .inner-img {
    width: 100%;
}

.what-we-are .inner-img {
    width: 100%;
    text-align: right;
}

.what-we-do {
    width: 100%;
    padding: 100px 0px;
    background-image: url(../images/w-bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.what-we-do .title {
    width: 100%;
    text-align: center;
    margin: 0px 0px 60px;
}

.what-we-do .title h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    color: #28377e;
}

.what-we-do .inner-box {
    position: relative;
    width: 100%;
}

.what-we-do .inner-box .big-size {
    /* width: 100%; */
}

.what-we-do .inner-box .inner-text {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    left: -30px;
}

.inner-text h4 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #fff;
}

.inner-text img {
    margin: 60px 0px 0px;
}

.inner-text .need-space {
    margin-top: 85px;
}

.attorney {
    width: 100%;
    padding: 100px 0px;
    background-image: url(../images/attorney.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.attorney .title {
    width: 100%;
    text-align: left;
}

.attorney .title .line {
    margin: 80px 0px 10px;
}

.attorney .title h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    color: #fff;
}

.attorney .title p {
    width: 70%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #929dcf;
}

.attorney .title a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #f2622c;
    transition: 0.6s;
}

.attorney .title a:hover,
.attorney .title a:focus {
    color: #fff;
}

.attorney .inner-box {
    position: relative;
    width: 100%;
    margin: 0px 0px 25px;
}

.attorney .inner-box .inner-text {
    width: 100%;
    position: absolute;
    top: 79%;
    text-align: left;
    left: 51px;
}

.attorney .inner-box img {
    width: 100%;
}

.inner-text h4 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #fff;
}

.inner-text img {
    margin: 60px 0px 0px;
}

.language {
    width: 100%;
    padding: 100px 0px;
}

.language .title {
    width: 100%;
    text-align: center;
}

.language .title h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    color: #28377e;
}

.language .box {
    width: 100%;
    margin: 60px 0px 0px;
}

.language .box h4 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    color: #28377e;
}

.language .box p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #b0b0b1;
}

.language .box a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #f2622c;
    transition: 0.6s;
}

.language .box a:hover,
.language .box a:focus {
    color: #666;
}

.contact {
    width: 100%;
    padding: 100px 0px;
    background: #28377e
}

.contact .title {
    width: 100%;
    text-align: center;
}

.contact .title h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    color: #fff;
}

.contact .contact-form .form-field {
    width: 100%;
    display: flex;
    margin: 80px 0px 0px;
    justify-content: center;
    /* position: relative; */
}

.contact .form-field .input-text {
    display: block;
    width: 60%;
    height: 100%;
    padding: 5px 0px;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    border: none;
    border-bottom: .5px solid #fff;
    background: none;
    outline: none;
}

.contact .form-field .label {
    /* position: absolute; */
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    left: 10%;
    padding: 0px 15px;
}

.contact .contact-form .btn {
    width: 100%;
    display: block;
    justify-content: center;
    margin: 50px 0px 0px;
}

.contact .contact-form .btn .btn-class {
    padding: 15px 80px;
    font-size: 18px;
    background: #f2622c;
    border: none;
    color: #fff;
    font-weight: 700;
}

.footer {
    width: 100%;
    padding: 40px 0px;
    background: #0c1234;
}

.footer h5 {
    font-size: 16px;
    line-height: 26px;
    color: #5a649d;
    text-align: center;
}

.footer .icon-img {
    width: 100%;
    text-align: right;
}

.footer .icon-img img {
    margin: 0px 0px 0px 10px;
}

.footer .icon-img img:hover,
.footer .icon-img img:focus {
    opacity: 1;
}